* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

#inicio {
  top: 12vh;
  height: 100%;
  background-image: url("fondo2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: sec1;
}

#textos {
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: 600px;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

#textos h1 {
  font-size: 7vh;
}

#textos p {
  font-size: 4vh;
}

#registro {
  width: 150px;
  height: 20px;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: #0000009f;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: 0.4s;
}

#registro:hover {
  box-shadow: 0 0 20px #ffffff;
}

#registro>a {
  font-weight: bold;
  font-size: 1.6vh;
  color: rgb(255, 255, 255);
}

#informacion {
  display: flex;
  grid-area: sec2;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tarjeta-wrap {
  margin: 30px;
  perspective: 500px;
}

.tarjeta {
  width: 31vh;
  height: 35vh;
  padding: 10px 10px;
  text-align: center;
  transform-style: preserve-3d;
  transition: .7s ease;
}

.adelante,
.atras {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: #d9e021 4px solid;
  backface-visibility: hidden;
}

.adelante {
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 4.5vh;
  color: #d9e021;
  
}

.atras {
  transform: rotateY(180deg);
  align-content: center;
  text-align: justify;
  font-size: 1.5vh;
  color: #000000;
  padding: 20px;
}

.tarjeta-wrap:hover .tarjeta {
  transform: rotateY(180deg);
}

#principal {
  display: grid;
  grid-template-rows: 115px 80vh 50vh 40vh;
  grid-template-columns: 100%;
  grid-template-areas:
    "enca"
    "sec1"
    "sec2"
    "pie";
  gap: 6px;
}

@media(max-width:1180px) {
  #principal {
    display: grid;
    grid-template-rows: 115px 80vh 80vh 60vh;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "sec2"
      "pie";
  }

  #informacion {
    flex-direction: column;
  }

  .tarjeta {
    width: 90vh;
    height: 10vh;
  }
}

@media(max-width:1024px) {
  #principal {
    display: grid;
    grid-template-rows: 115px 80vh 90vh 40vh;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "sec2"
      "pie";
  }

  #informacion {
    flex-direction: column;
  }

  .tarjeta {
    width: 50vh;
    height: 20vh;
  }
}

@media(max-width:855px) {
  #principal {
    display: grid;
    grid-template-rows: 115px 80vh 85vh 50vh;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "sec2"
      "pie";
  }

  #informacion {
    flex-direction: column;
  }

  .tarjeta {
    width: 55vh;
    height: 8vh;
  }
}

@media (max-width: 540px) {
  #principal {
    display: grid;
    grid-template-rows: 115px 80vh 150vh 73vh;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "sec2"
      "pie";
  }

  #informacion {
    display: flex;
    flex-direction: column;
  }

  .tarjeta {
    display: flex;
    width: 29vh;
    height: 35vh;
  }

  footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 435px) {
  #principal {
    display: grid;
    width: 100%;
    grid-template-rows: 12vh 80vh 154vh 90vh;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "sec2"
      "pie";
  }

  footer {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 344px) {
  #principal {
    display: grid;
    width: 100%;
    grid-template-rows: 12vh 80vh 130vh 73vh;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "sec2"
      "pie";
  }

  .tarjeta {
    width: 25vh;
    height: 33vh;
  }


  footer {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}