* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

header {
  height: 100%;
  background: #000000;
  padding: 0 50px;
  color: #d9e021;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: enca;
}

header>.logo {
  flex-direction: column;
  align-items: start;
  font-weight: bold;
  font-size: 1.1vh;
}

.menu a {
  color: #d9e021;
  padding: 0 10px;
  transition: 0.4s;
  font-size: 1.6vh;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  text-shadow: 0 0 5px #ffffff;
}

#check {
  display: none;
}

.ecocanje {
  display: flex;
  background-image: url("GIF1.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100%;
  justify-content: center;
  flex-direction: row;
  grid-area: sec1;
}  
.ecocanje p{
  display: flex;
  font-size: 4vh;
  color: #ffffff;
  font-weight: 500px;
}

.uno {
  display: flex;
  width: 400px;
  height: 400px;
}

.dos{
  
  display: flex;
  width: 400px;
  height: 400px;
}

.tres {
  display: flex;
  width: 400px;
  height: 400px;
}


.uno:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

.dos:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

.tres:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

.compostar,
.puntos,
.canjear{
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  height: 100%;
  background-color: rgb(2, 47, 2);
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  grid-area: pie;
}

footer h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer a {
  font-size: 15px;
  color: #FFFFFF;
}

footer a:hover {
  color: rgba(207, 164, 34, 0.586);
}

* {
  list-style-type: none;
}

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vh;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vh;
}

.link-menu {
  display: flex;
  flex-direction: column;
}

.rsocials {
  display: flex;
  flex-direction: column;
}

.l {
  display: flex;
  flex-direction: row;
}

.l a {
  height: 40px;
  width: 40px;
  margin: 10px;
  background-color: rgb(219, 139, 139);
  align-items: center;
  border-radius: 5px;
  transition: all .5s ease;
  color: #869636;
}

.l :hover {
  background-color: limegreen;
}

.mapa,
.link-menu,
.rsocials {
  width: 300px;
  margin: 10px;
  align-items: center;
}

#principal {
  display: grid;
  grid-template-rows: 115px 80vh 320px;
  grid-template-columns: 100%;
  grid-template-areas:
    "enca"
    "sec1"
    "pie";
  gap: 6px;
}

@media(max-width:1220px) {
  #principal {
    display: grid;
    grid-template-rows: 115px 80vh 350px;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "pie";
  } 
  
  .uno {
    display: flex;
    width: 340px;
    height: 340px;
  }
  
  .dos{
    
    display: flex;
    width: 340px;
    height: 340px;
  }
  
  .tres {
    display: flex;
    width: 340px;
    height: 340px;
  }
}

@media(max-width:1000px) {
  #principal {
    display: grid;
    grid-template-rows: 115px 80vh 350px;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "pie";
  } 
  
  .uno {
    display: flex;
    width: 250px;
    height: 250px;
  }
  
  .dos{
    
    display: flex;
    width: 250px;
    height: 250px;
  }
  
  .tres {
    display: flex;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 920px) {
  #principal {
    display: grid;
    grid-template-rows: 115px 120vh 600px;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "pie";
  }

  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  .menu {
    position: fixed;
    width: 20vh;
    height: 100vh;
    background-color: #000000;
    right: -100%;
    top: 0;
    text-align: justify;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }

  .menu a {
    display: block;
    padding: 20px;
  }

  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #check:checked~.menu {
    right: 0;
  }

  .ecocanje {
    height: 100%;
    justify-content: center;
    flex-direction: column;
  } 

  footer {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:1000px) {
  #principal {
    display: grid;
    grid-template-rows: 115px 120vh 600px;
    grid-template-columns: 100%;
    grid-template-areas:
      "enca"
      "sec1"
      "pie";
  } 
  
  .uno {
    display: flex;
    width: 200px;
    height: 200px;
  }
  
  .dos{
    
    display: flex;
    width: 200px;
    height: 200px;
  }
  
  .tres {
    display: flex;
    width: 200px;
    height: 200px;
  }
}
